<div [@dialog] *ngIf="visible" class="dialog">
  <h2>{{workshop.title}} detalles</h2>
  <div>
    Categoría: {{workshop.category}}
  </div>
  <div>
    Ponente: {{workshop.speaker}}
  </div>
  <div>
    Institución: {{workshop.instituition}}
  </div>
  <div>
    País: {{workshop.country}}
  </div>
  
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
  <button type="submit" (click)="subscribeToWorkshop()" class="btn btn-success">Registrar Taller</button>
</div>

<div *ngIf="visible" class="overlay" (click)="close()"></div>




